<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <style>
        .main-container {
            padding-left: 120px;
            padding-right: 120px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    </style>


    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" style="padding-left:120px; padding-right:60px" href="/">Тестовий блог</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Домашня сторінка</a></li>
          <li><a href="/news/index">Новини</a></li>
          <li><a href="/posts">Пости</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="padding-right: 120px">
          <% if user_signed_in? %>
            <li class="navbar-brand"><span class="glyphicon glyphicon-user"></span> Вітаємо, <%= current_user.email %></a></li>
            <li class="a"><%= link_to 'Вихід', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li class="a"><a href="/users/sign_in"><span class="glyphicon glyphicon-user"></span> Вхід</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="jumbotron text-center">
      <h1>Тестовий блог на Ruby On Rails</h1>
      <p>Вітаємо на нашому сайті! Для навігації використовуйте верхнє меню.</p>
    </div>
  </head>

  <body>
  <div class="container-fluid main-container">
    <%= yield %>
  </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
